@import url('https://fonts.googleapis.com/css?family=Cabin:400,700&display=swap');
@import './utils/colors.scss';


body {
  animation: overflow-switch 3500ms forwards;
  background-color: map-get($colors, white);
  color: map-get($colors, black);
  font-family: 'Cabin', sans-serif;
  margin: 0rem;
  overflow-x: hidden;

  @keyframes overflow-switch {
    0%, 99% {
      overflow-y: hidden;
    }

    100% {
      overflow-y: auto;
    }
  }
}

.screen {
  display: grid;

  &-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;

    &-full {
      @extend .screen-section;
      height: 100vh;
      padding: 0rem 1.5rem;
    }
  }
}

.d-none {
  display: none;
}

::-webkit-scrollbar {
  height: 0.25rem;
  width: 0.25rem;

  &-thumb {
    background-color: map-get($colors, black);
  }
  
  &-track {
    background-color: map-get($colors, white);
  }
}

#intro {
  animation: slide-in 1000ms, fade-out 1000ms 3500ms forwards;
  background-color: map-get($colors, black);
  position: absolute;
  width: 100vw;
  z-index: 10;

  img {
    animation: logo-effects 2500ms 1000ms forwards;
    margin: 0rem auto;
    width: 15rem;
  }

  @keyframes slide-in {
    0% {
      transform: translateY(-100vh);
    }

    100% {
      transform: translateY(0vh);
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    
    99% {
      display: block;
      opacity: 0;
    }

    100% {
      display: none;
      z-index: -1;
    }
  }

  @keyframes logo-effects {
    0%, 20%, 40% {
      opacity: 1;
    }

    10%, 30% {
      opacity: 0;
    }

    50% {
      opacity: 1;
      transform: scale(1) rotate(0deg);
    }

    99% {
      display: block;
    }

    100% {
      display: none;
      opacity: 0;
      transform: scale(1.25) rotate(360deg);
    }
  }
}

#landing {
  animation: color-switch 1000ms forwards;

  .title {
    font-size: 5rem;
    font-weight: 700;
    user-select: none;
  }

  .subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    user-select: none;
  }

  .bounce {
    animation: bounce 500ms infinite cubic-bezier(0.5, 0.05, 1, 0.5) alternate;
    cursor: pointer;
    padding-top: 0.75rem;
    z-index: 1;
  }

  @keyframes color-switch {
    0%, 99% {
      background-color: map-get($colors, white);
    }
    
    100% {
      background-color: map-get($colors, black);
    }
  }

  @keyframes bounce {
    0%, 25% {
      transform: translateY(0rem);
    }
    100% {
      transform: translateY(1.25rem);
    }
  }
}

#wave {
  transform: rotate(180deg);
  width: 100vw;

  svg {
    position: relative;
    top: 0.375rem;
  }
}

#about {
  padding: 1rem 0rem;
  text-align: center;

  img {
    background-color: map-get($colors, black);
    border-radius: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    user-select: none;
    width: 6.25rem;
  }

  .title {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: underline;
    user-select: none;
  }

  .social-links {
    margin-top: 1rem;

    a {
      color: map-get($colors, black);
      display: inline-block;
      margin: 0.5rem;
      text-decoration: none;

      &:hover {
        background-color: map-get($colors, black);
        color: map-get($colors, white);
      }

      i {
        padding-right: 0.25rem;
      }
    }
  }
}

#projects {
  background-color: map-get($colors, black);
  color: map-get($colors, white);
  padding: 0.75rem 0.5rem 2rem;
  text-align: center;

  .title {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-decoration: underline;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
    grid-gap: 1rem;

    .project {
      border-radius: 1rem;
      box-shadow: 0rem 0rem 0.25rem 0.125rem black;

      span {
        display: inline-block;
      }
      
      .title {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 1rem auto 0rem;
        text-decoration: underline;
      }

      .description {
        padding: 1rem;
      }

      img {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        width: 100%;
      }

      .icon {
        max-width: 1.75rem;
        padding: 0rem 0.5rem;

        text {
          fill: transparent;
        }
      }

      a {
        display: inline-block;
        margin: 1rem 0.5rem 1.5rem;
        text-decoration: none;

        &.button-source i {
          padding-right: 0.25rem;
        }

        &.button-project i {
          padding-left: 0.25rem;
        }
      }
    }
  }
}

#skills {
  padding: 1rem 0rem;
  text-align: center;

  .title {
    font-size: 1.375rem;
    font-weight: 700;
    text-decoration: underline;
    user-select: none;
  }
  
  .subtitle {
    font-size: 1.125rem;
    user-select: none;
  }

  .description {
    padding-bottom: 0.625rem;
    user-select: none;
  }

  .stack {
    overflow: hidden;
    white-space: nowrap;
    width: 13.75rem;

    .stack-animation {
      animation: scroll 30000ms linear infinite reverse;
      @keyframes scroll {
        0% { 
          transform: translateX(0rem);
        }

        100% { 
          transform: translateX(-74.2rem);
        }
      }
    }
    
    .icon {
      max-width: 1.75rem;
      padding: 0.5rem;

      text {
        fill: transparent;
      }
    }
  }
  
  a {
    color: map-get($colors, black);
    display: inline-block;
    margin: 0.5rem;
    text-decoration: none;

    &:hover {
      background-color: map-get($colors, black);
      color: map-get($colors, white);
    }

    i {
      padding-right: 0.25rem;
    }
  }
}

#footer {
  background-color: map-get($colors, black);
  color: map-get($colors, white);
  padding: 1.5rem 0.75rem;
  text-align: center;

  .icon {
    max-width: 1.25rem;
    padding: 0rem 0.25rem;
    position: relative;
    top: 0.125rem;
  }
}